@page "/"

<PageTitle>Index</PageTitle>

<h1>Global Azure Bootcamp 2023 - Pune</h1>

<div class="col community-contents">
    <p>
        <a href="https://www.meetup.com/Pune-Tech-Community/events/285099113/">
            <img src="https://raw.githubusercontent.com/globalazure/communities/main/2023/punetechcommunity/punetechcommunity.png" class="img-fluid" height="200px" width="200px"
                 alt="Global Azure Bootcamp 2023 - Pune" title="Global Azure Bootcamp 2023 - Pune registration">
        </a>
    </p>
    <h2 id="we-are-calling-all-azure-enthusiasts-to-come-and-join-us-where-we-share-our-expertise-and-experience">We are calling all Azure enthusiasts to come and join us, where we share our expertise and experience.</h2>
    <p>Hosted by <a href="https://www.meetup.com/Pune-Tech-Community/">Pune Tech Community</a>.</p>
    <p>All our events are free for all attendees. We are committed to your privacy, and your data will never be shared.</p>

</div>


<h2 style="color:blue;font-weight:bold;">Session Details</h2>